//BRAND COLORS
$lightGrey: #3B3B3B
$darkGrey: #323944
$white: #FFFFFF
$yellow: #F6DD38
$black: #000000
$orange: #EF6E31

body, html
	background: white
	font-family: 'Helvetica Neue', sans-serif
	font-size: 16px
	font-weight: normal
	-webkit-font-smoothing: antialiased

	a
		color: white

#wrapper
	height: auto !important


// Header
.header
	padding: 0 20px
	background-color: white
	border-bottom: 1px solid lightGray
	height: 45px

a.brand
	float: left
	display: inline-block
	font-size: .9em
	color: #323944
	text-decoration: none
	padding: 12px
	-webkit-font-smoothing: antialiased
	&:hover
		color: #323944

nav
	display: inline-block
	margin-left: 40px
.nav
	li
		a
			font-size: .9em
			color: #323944
			padding: 10px 20px
			-webkit-font-smoothing: antialiased
			&:hover
				color: #323944
				text-decoration: none

.site-tagline
	font-size: .9em
	float: right
	display: inline-block
	color: #323944
	-webkit-font-smoothing: antialiased

// main body

#content
	height: 100%

.entry-content
	padding: 10px 0

.home
	border: 0

.hentry header
	border-bottom: 0
	padding: 0
.hentry
	border-left: 0
	border-right: 0
	border-top: 0

.article-header
	h3
		a
			color: #323944

.article-footer, .hentry footer
	padding: 10px 0
	border: 0
.byline
	font-size: .7em

// Footer

.footer
	position: relative
	height: 50px

.source-org
	margin: 10px 0
	float: left




//MEDIA QUERIES
@media screen and (min-width: 1200px)