body, html {
  height: 100%;
  background: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  body a, html a {
    color: #323944; }
    body a:link, html a:link {
      color: #323944; }
    body a:visited, html a:visited {
      color: #323944; }
    body a:hover, html a:hover {
      color: #323944; }
  body .home, html .home {
    background: white;
    background: url("../images/sfmoma.jpg") center center no-repeat;
    background-size: cover;
    background-opacity: 0.2; }
    body .home .header, html .home .header {
      background-color: rgba(255, 255, 255, 0.8); }
    body .home .page, html .home .page {
      background: transparent; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100% !important;
  margin: 0 auto !important;
  margin-bottom: -80px !important; }

.header {
  padding: 0 20px;
  background-color: white;
  height: 45px; }

.brand {
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: #323944;
  text-decoration: none;
  padding: 10px;
  -webkit-font-smoothing: antialiased; }
  .brand:hover {
    color: #323944; }

nav {
  display: inline-block;
  margin-left: 0%;
  margin-right: 0%; }

.nav li {
  display: inline-block; }
  .nav li a {
    display: inline-block;
    font-size: 0.9em;
    color: #323944;
    padding: 10px 20px;
    -webkit-font-smoothing: antialiased; }
    .nav li a:hover {
      color: #323944;
      text-decoration: none; }

.site-tagline {
  font-size: 0.9em;
  float: right;
  margin: 10px;
  display: inline-block;
  color: #323944;
  -webkit-font-smoothing: antialiased; }

.entry-content {
  padding: 10px 0;
  background: transparent; }
  .entry-content a {
    float: left; }

.home {
  border: 0; }

.hentry header {
  border-bottom: 0;
  padding: 0; }

.hentry {
  border-left: 0;
  border-right: 0;
  border-top: 0; }
  .hentry:last-child {
    border-bottom: 0; }

.archive-title {
  margin: 0 0 26px 0; }

.article-header h2 a {
  color: #323944; }
  .article-header h2 a:hover {
    color: #75839a; }

.article-footer, .hentry footer {
  padding: 10px 0;
  border: 0; }

.byline {
  font-size: 0.7em; }

.sidebar {
  margin: 0; }

.widget {
  margin: 0; }
  .widget li a {
    color: lightgray; }
    .widget li a:visited {
      color: lightgray; }
    .widget li a:hover {
      color: lightgray; }

.widgettitle {
  border-bottom: 1px solid lightgray; }

.widget_calendar {
  text-align: center; }
  .widget_calendar #wp-calendar {
    width: 100%; }
  .widget_calendar #prev {
    padding-top: 10px;
    text-align: left; }
  .widget_calendar #next {
    padding-top: 10px;
    text-align: right; }
  .widget_calendar caption {
    margin: 0 auto; }

.form-allowed-tags {
  display: none; }

.wpcf7-form p {
  width: 100%;
  float: left; }

.wpcf7-form-control input {
  float: left;
  display: block;
  background: #323944; }

.push {
  height: 0;
  float: left; }

.footer {
  height: 80px;
  padding: 25px 20px 0; }

.source-org {
  margin: 10px 0;
  float: left;
  display: inline-block;
  font-size: 0.8em; }

.ftr {
  float: right; }

.footer-nav li {
  display: inline-block; }
  .footer-nav li a {
    display: inline-block;
    font-size: 0.8em;
    color: white;
    padding: 10px 20px;
    -webkit-font-smoothing: antialiased; }
    .footer-nav li a:hover {
      color: white;
      text-decoration: none; }

@media screen and (min-width: 1024px) {
  .d-5of7 {
    padding: 0 80px 0 0;
    height: auto; } }
@media screen and (max-width: 568px) {
  .header {
    padding: 0 20px;
    background-color: white;
    height: 45px; }

  a.brand {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
    padding: 10px 0; }

  nav {
    display: block;
    float: left; }

  .nav li {
    display: inline-block; }
    .nav li a {
      display: block;
      font-size: 0.9em;
      padding: 10px 10px 0 0; }

  .site-tagline {
    font-size: 0.9em;
    float: right;
    margin: 10px 0;
    display: inline-block; }

  .m-all {
    padding-right: 0; }

  .archive-title {
    text-align: center;
    font-size: 1.6em;
    margin: 10px 0; }
    .archive-title h1 {
      font-size: 1.6em; }

  .post {
    margin-bottom: 10px; }

  .article-header {
    text-align: center; }
    .article-header h2 {
      font-size: 1.2em !important; }
      .article-header h2 a {
        font-size: 1.2em !important; }

  .widget {
    text-align: center; }

  .footer {
    height: auto;
    text-align: center !important;
    padding-bottom: 10px; }

  .source-org {
    margin: 0 auto;
    float: none;
    display: block; }

  .ftr {
    float: none;
    margin: 0 auto; }

  .footer-nav {
    margin-left: 0;
    margin-right: 0;
    text-align: center; }
    .footer-nav li {
      display: block;
      float: left;
      width: 100%; }
      .footer-nav li a {
        display: block !important;
        margin: 0 auto !important; } }
